<?xml version="1.0" encoding="utf-8"?>
<odoo>
    
    <!-- Configuration Menu -->
    <menuitem id="menu_purchase_approval_config" 
              name="Approval Configuration" 
              parent="purchase.menu_purchase_config" 
              action="action_purchase_approval_config" 
              sequence="50"/>

</odoo>